<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challenge</h1>

      <app-text
        (click)="generateRandom()"
        [childText]="parentText"
        [input]="input"
        class="has-text-centered"
      ></app-text>

      <div class="field">
        <input [(ngModel)]="input" class="input" type="text" />
      </div>

      <div class="box has-text-centered" *ngIf="input === parentText">
        <p class="title">{{ success }}</p>
      </div>
    </div>
  </div>
</div>
